<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Maison Tirdaoegas. It uses from Mapbox and darks</p>
        <img class="portrait" src="./img/spiderman.jpg">
    </div>
    
    {{>footer}}
</body>

</html>

